.menu-enter {
  max-height: 0;
  opacity: 0;
  transition: all 300ms ease;
}
.menu-enter-active {
  max-height: 500px;
  opacity: 1;
}
.menu-exit {
  max-height: 500px;
  opacity: 1;
}
.menu-exit-active {
  max-height: 0;
  opacity: 0;
  transition: all 300ms ease;
}
